* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

header {
  height: 110px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  /* background-color: #707070; */
  position: relative;
  position: absolute;
}

header img {
  margin: 10px;
}

header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-right: 60px;
  line-height: 110px;
}

header li {
  list-style: none;
}

header a {
  color: #41526e;
  margin-right: 60px;
}

header ul li a:hover {
  border-bottom: solid 1.5px #505050;
}

main .top__Img {
  background-image: url(img/skeleton.png), url(img/AdobeStock_1.png);
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .top__Txt {
  margin: 0 auto;
  text-align: center;
  left: 50%;
  top: 50%;
}

main .top__Txt h2 {
  height: 100%;
  text-align: center;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-self: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main .top__Txt h2 img {
  margin: 0 auto;
}

main .top__scroll {
  text-align: center;
  margin-top: 500px;
  color: #404040;
}

main .about {
  height: 914px;
  width: 100%;
  background-color: #ffffe6;
}

main .about__Txt {
  text-align: center;
}

main .about__Txt img {
  margin: 50px;
}

main .about__Img {
  text-align: center;
}

main .about__Img img {
  height: 340px;
  width: 460px;
  margin: 50px;
  margin-top: 150px;
}

main .stepWrap {
  height: 800px;
  width: 100%;
  background-color: #ffff;
}

main .stepWrap h2 {
  margin: 80px 0px;
}

main .stepWrap {
  margin: 0 auto;
  text-align: center;
  color: #505050;
}

main .step {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 280px;
  margin-bottom: 30px;
  width: 880px;
  margin: 30px auto;
}

main .step__group {
  margin: 0 auto;
}

main .step__round {
  height: 52px;
  width: 141px;
  border-radius: 50px;
  background-color: #ffb4d7;
  line-height: 52px;
}

main .step__icon {
  height: 35px;
  width: 25px;
  margin: 10px;
}

main .step__Tlt {
  font-size: 19px;
  margin: 5px;
}

main .step__Txt {
  font-size: 14px;
  text-align: start;
  margin: 10px;
}

main .next {
  width: 10px;
  height: 10px;
  border: 3px solid;
  border-color: transparent transparent #565656 #565656;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  margin-left: 30.5%;
  margin-bottom: 25px;
}

main .btn {
  height: 114px;
  width: 280px;
  background-color: #a4d87f;
  text-decoration: none;
  border-radius: 50px;
  display: block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  font-size: 14.5px;
}

main .btn p {
  margin-top: 40px;
  margin-left: 5px;
  color: white;
}

main .btn img {
  height: 60px;
  width: 80px;
  margin-top: 30px;
  margin-left: 30px;
}

main .pointWrap {
  text-align: center;
  height: 800px;
  width: 100%;
  background-color: #ffffe6;
}

main .pointWrap h2 {
  margin: 50px 0px 50px 0px;
  font-size: 20px;
  color: #747474;
}

main .pointWrap span {
  color: #e481b0;
  margin: 15px;
  display: inline-block;
}

main .point {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-bottom: 100px;
}

main .point__tab {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 225px;
}

main .point__tab__circle {
  height: 225px;
  width: 225px;
  border-radius: 50%;
  background-color: tomato;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .point__tab__Tlt {
  display: inline;
  margin: 15px;
}

.footer_group {
  height: 200px;
  width: 100%;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.information ul {
  line-height: 60px;
}

.information li {
  text-decoration: none;
  list-style: none;
}

.information a {
  color: #404040;
}

.footer_logo {
  line-height: 200px;
  margin: 30px 90px 0px 0px;
}

.footer_sns img {
  margin: 20px;
  margin-top: 80px;
}
/*# sourceMappingURL=index.css.map */