* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

header {
  height: 110px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  /* background-color: #707070; */
  position: relative;
  position: absolute;
}

header img {
  margin: 10px;
}

header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  margin-right: 60px;
  line-height: 110px;
}

header li {
  list-style: none;
}

header a {
  color: #41526e;
  margin-right: 60px;
}

header ul li a:hover {
  border-bottom: solid 1.5px #505050;
  font-size: 18px;
}

.cooking {
  height: 1800px;
  width: 100%;
  background-color: #ffffe6;
}

.Ttl {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-top: 150px;
  font-size: 20px;
  color: #404040;
}

.cooking_group_head {
  display: flex;
  justify-content: space-around;
  margin-bottom: 130px;
  margin-top: 50px;
}

.cooking_group_head img {
  height: 258px;
  width: 348px;
  border-radius: 30px;
}

.cooking_group_head a {
  color: #404040;
}

.cooking_group_center {
  display: flex;
  justify-content: space-around;
  margin-bottom: 130px;
}

.cooking_group_center img {
  height: 258px;
  width: 348px;
  border-radius: 30px;
}

.cooking_group_center a {
  color: #404040;
}

.cooking_group_foot {
  display: flex;
  justify-content: space-around;
  margin-bottom: 100px;
}

.cooking_group_foot img {
  height: 258px;
  width: 348px;
  border-radius: 30px;
}

.cooking_group_foot a {
  color: #404040;
}

.pager ul.pagination {
  text-align: center;
  margin: 0;
  /* margin-bottom: 30px; */
  padding: 0;
}

.pager .pagination li {
  display: inline;
  margin: 0 2px;
  padding: 0;
  display: inline-block;
  background: #e481b0;
  width: 50px;
  height: 50px;
  text-align: center;
  position: relative;
}

.pager .pagination li a {
  vertical-align: middle;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  display: table;
  color: #fff;
  text-decoration: none;
}

.pager .pagination li a span {
  display: table-cell;
  vertical-align: middle;
}

.pager .pagination li a:hover,
.pager .pagination li a.active {
  color: #000;
  background: #fbcde2;
}

@media only screen and (max-width: 767px) {
  .pager .pagination li {
    display: none;
  }

  .pager .pagination li.pre,
  .pager .pagination li.next {
    display: inline-block;
    width: 40%;
    height: 50px;
    text-align: center;
  }

  .pager .pagination li.pre a,
  .pager .pagination li.next a {
    width: 100%;
    text-align: center;
  }
}

/* ホバー */
.cooking_group_head a:hover {
  box-shadow: 10px 0px 10px #d8d8d8;
  border-radius: 30px 30px 30px 0px;
}

.cooking_group_center a:hover {
  box-shadow: 10px 0px 10px #d8d8d8;
  border-radius: 30px 30px 30px 0px;
}

.cooking_group_foot a:hover {
  box-shadow: 10px 0px 10px #d8d8d8;
  border-radius: 30px 30px 30px 0px;
}

.footer_group {
  height: 200px;
  width: 100%;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.information ul {
  line-height: 60px;
}

.information li {
  text-decoration: none;
  list-style: none;
}

.information a {
  color: #404040;
}

.footer_logo {
  line-height: 200px;
  margin: 30px 90px 0px 0px;
}

.footer_sns img {
  margin: 20px;
  margin-top: 80px;
}
